*{
  padding: 0;
  margin: 0;
}
canvas{
  margin: 15px;
  float: right;
}

@font-face {
  font-family: "iso9";
  src: url("/fonts/Px437_IBM_ISO9.ttf");
}

body{
  font-family: "iso9", sans-serif;
  background: #000;
}
#container{
  width: 256px;
}
#container:after{
  content: '';
  display: block;
  clear: both;
}
#container .item_cell{
  float: left;
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 64px;
  height: 64px;
}

#container .item_cell:hover{
  background-size: cover!important;
  cursor: pointer;
}

.bar-container{
  width: 264px;
  height: 16px;
  right: 10px;
  top: 10px;
  background: #000;
  z-index: 999;
  text-align: center;
  color: #fff;
  line-height: 32px;
  float: right;
}

.bar{
  height: 100%;
  width: 100%;
}

.health{
  background: #52ff52;
}
.magic{
  background: #0052ff;
}
.container{
  width: 100%;
  float: left;
}
.container:after{
  content: '';
  display: block;
  clear: both;
}
.ui-container{
  width: 450px;
  float: right;
  padding: 5px;
}
.pl-text{
  display: inline-block;
  color: lightblue;
  font-size: 16px;
}

.pl-text span{
  color: #ccc;
}

.container.stats .pl-text{
  color: #009688;
}

#pl-name{
  color: darkseagreen;
}
#en-name{
  color: coral;
}
.container.stats{
  margin: 5px 0;
}

.container.target{
  opacity: 0;
  margin-top: 10px;
}
