*{
  padding: 0;
  margin: 0;
}
canvas{
  position: absolute;
  left: 15px;
  top: 15px;
  margin: auto;
}

@font-face {
  font-family: "8bit";
  src: url("/fonts/Pxlvetica.ttf");
}

body{
  font-family: "Pxlvetica", sans-serif;
  background: #000;
}
#container{
  width: 256px;
}
#container:after{
  content: '';
  display: block;
  clear: both;
}
#container .item_cell{
  float: left;
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 64px;
  height: 64px;
}

#container .item_cell:hover{
  background-size: cover!important;
  cursor: pointer;
}
#health_container{
  position: absolute;
  width: 264px;
  height: 16px;
  right: 10px;
  top: 10px;
  background: #c55656;
  z-index: 999;
  text-align: center;
  color: #fff;
  font-family: "8bit";
  line-height: 32px;
}
#health{
  height: 100%;
  width: 100%;
  background: #a81e1e;
}
